@media (max-width: 991.98px) {
    // Tablet
    .header{
        width: 100%;
        .header_container {
            padding-bottom: 56px;
            .header__navbar {
                padding: 36px 37px 36px 50px;
            }
            .header__logo{
                width: 184px;
                height: 76px;
            }
            .header__content{
                padding-top: 458px;
                .header__title{
                    font-size: 48px;
                    margin-bottom: 199px
                }
                .header__group{
                    gap: 27px;
                    margin-bottom: 199px;
                    .header__btn{
                        width: 246px;
                        height: 61px;
                        font-size: 18px;
                    }
                }
                .header__arrow{
                    padding: 12px;
                }
            }
        }
    }

    .main{
        padding: 26px 0 77px 0;
        .achievements{
            @include dFlex(center, start);
            flex-wrap: wrap;
            column-gap: 65px;
            row-gap: 75px;
            padding: 12px 66px 12px 26px;
            margin-bottom: 66px;
            .achievements__card{
                width: 315px;
                .achievements__title{
                    font-size: 48px;
                    margin-top: 13px;
                }
                .achievements__subtitle{
                    font-size: 24px;
                    margin-bottom: 13px;
                }
                .achievements__text{
                    font-size: 14px;
                    margin-left: 27px;
                }
            }
        }
        .under_section{
            margin-bottom: 18px;
            .section_undertitle{
                font-size: 24px;
                max-width: 328px;
                text-transform: uppercase;
            }
        }
        .pricing{
            margin-top: 20px;
            padding-left: 2em;
            padding-right: 3em;
            .pricing_left{
                padding-right: 70px;
                &__title{
                    font-size: 18px;
                    margin-bottom: 21px;
                }
                &__subtitle{
                    font-size: 18px;
                }
                &__btn{
                    margin-top: 36px;
                    padding: 14px 40px;
                    font-size: 18px;
                }
            }
            .pricing_right{
                padding: 0;
                padding-bottom: 15px;
                border-left: solid 1px #E0E0E0;
                max-width: 274px;
                &__block{
                    position: relative;
                    width: 100%;
                    height: 150px;
                    .pricing_right__img--element{
                        width: 38px;
                        height: 30px;
                        top: 0;
                        left: 62%;
                    }
                }
                &__title{
                    font-size: 18px;
                    margin-bottom: 6px;
                    margin-left: 34px;
                }
                &__item{
                    font-size: 14px;
                    padding-left: 35px;
                }
                &__item--border{
                    border-bottom: solid 1px #E0E0E0;
                    margin-bottom: 12px;
                }
                &--element{
                    position: relative;
                }
                &__line{
                    left: -36px;
                    top: 53px;
                    width: 35px;
                }
            }
        }
        .services{
            margin-top: 40px;
            .service_card{
                max-width: 396px;
                &__img{
                    width: 100%;
                    height: 443px;
                    margin-bottom: 23px;
                }
                &__title{
                    font-size: 24px;
                    margin-bottom: 7px;
                    margin-left: 13px;
                }
                &__subtitle{
                    font-size: 14px;
                    margin-right: 130px;
                    margin-bottom: 36px;
                    margin-left: 13px;
                }
            }
        }
        .section_backgroung{
            margin-bottom: 75px;
            .projects{
                margin-top: 18px;
                padding-bottom: 63px;
                .projects_card_container{
                    max-width: 764px;
                    margin-bottom: 40px;
                    .projects_card{
                        max-width: 387px;
                        position: relative;
                        .projects_card__block{
                            width: 387px;
                            height: 455px;
                            &--hov{
                                z-index: 10;
                                .projects_card__button{
                                    margin-left: 20%; 
                                    margin-top: 50%;
                                    padding: 20px 40px;
                                    font-size: 18px;
                                }
                            }
                        }
                        .projects_card__text{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            z-index: 5;
                            @include dFlex(center, start);
                            flex-direction: column;
                            gap: 6px;
                            margin-left: 20%;
                            .projects_card__title{
                                color: #ffffff;
                                font-size: 18px;
                            }
                            .projects_card__subtitle{
                                color: var(--Gray-3, #ffffff);
                                font-size: 18px;
                            }
                            .projects_card__area{
                                color: var(--Gray-1, #ffffff);
                                font-size: 14px;
                            }
                        }
                    }
                    .card_line{
                        top: 60%;
                    }
                }
                .project_link{
                    margin-left: 35%;
                }
            }
        }
        .instructions{
            .instructions_card_container{
                .instructions_card{
                    @include dFlex( left, start);
                    gap: 9px;
                    .instructions_card__num{
                        font-size: 48px;
                    }
                    .instructions_card__content{
                        .instructions_card__image{
                            margin-bottom: 32px;
                        }
                        .instructions_card__title{
                            padding: 4px 7px;
                            font-size: 24px;
                            margin-bottom: 18px;
                        }
                        .instructions_card__subtitle{
                            font-size: 18px;
                            margin-bottom: 10px;
                        }
                        .instructions_card__execpt{
                            font-size: 14px;
                            padding:0;
                        }
                    }
                    &--border{
                        border-bottom: none;
                    }
                }
                .instructions_link{
                    @include dFlex(left, center);
                    margin-left: 0;
                    margin-bottom: 28px;
                    .instructions_btn{
                        padding: 23px 74px;
                        font-size: 24px;
                        .instructions_btn__img{
                            width: 74px;
                        }
                    }
                }
            }
        }
        .back_section{
            background-image: url("/assets/image/back/armchair.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            padding: 79px 0 145px 0;
            .back_section__content{
                .back_section__title{
                    margin-right: 150px;
                    font-size: 36px;
                    margin-bottom: 73px;
                }
                .back_section_list{
                    .back_section_item{
                        font-size: 24px;
                    }
                }
            }
        }
        .instagram{
            padding: 46px 0 38px 0;
            .instagram_logo{
                width: 185px;
                height: 52px;
                margin-bottom: 80px;
            }
            .instagram_card__container{
                margin: auto;
                gap: 20px;
                .instagram_card{
                    padding: 0;
                    max-width: 386px;
                    max-height: 386px;
                    min-height: 385.9px;
                }
            }
        }
        .catalog{
            margin: auto;
            margin-top: 14px;
            .catalog_content{
                @include dFlex(center, start);
                flex-direction: column;
                gap: 51px;
                .catalog_image{
                    display: none;
                    width: 794px;
                    height: 363px;
                    &--2{
                        display: block;
                    }
                }
                .catalog_form{
                    @include dFlex( center, start);
                    flex-direction: column;
                    max-width: 477px;
                    .catalog_form__title{
                        font-size: 24px;
                        margin-bottom: 21px;
                    }
                    .catalog_form__subtitle{
                        font-size: 18px;
                        margin-bottom: 27px;
                        width: 425px;
                    }
                    .catalog_form__input{
                        width: 99%;
                        padding: 24px;
                        font-size: 14px;
                        margin-bottom: 18px;
                        &::placeholder{
                            color: #4F4F4F;
                            font-weight: 100;
                            font-size: 14px;
                        }
                    }
                    .catalog_form__label{
                        color: var(--Gray-1, #333);
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 146.187%;
                        cursor: pointer;
                        margin-bottom: 72px;
                        #checker{
                            width: 17px;
                            height: 17px;
                            margin-right: 10px;
                            vertical-align: middle;
                        }
    
                    }
                    .catalog_form__btn{
                        padding: 22px 112px;
                        font-size: 18px;
                    }
    
                }
            }
        }
        .main_line{
            width: 9%;
            height: 5px;
            background-color: #000;
        }
        .border_line{
            display: block;
            height: 1px;
            width: 100%;
            background-color: #BDBDBD;
            &--pricing{
                margin-bottom: 85px;
            }
            &--services{
                margin-bottom: 49px;
            }
            &--back{
                margin-bottom: 47px;
            }
            &--form{
                margin-bottom: 80px;
            }
        }
        .square{
            width: 9px;
            height: 9px;
            &--black{
                margin: 10px;
            }
            &--project{
                margin-top: 7px;
                margin-right: 5px;
            }
            &--grey{
                background-color: #4F4F4F;
                margin-bottom: 7px;
            }
        }
    }

    .footer{
        margin-top: 10px;
        background-image: url("/assets/image/back/footer background tablet.svg"), url("/assets/image/back/footer\ background\ element.svg");
        background-position: left bottom, calc(100% - 50%) 0;
        background-size: 75%, 86px 92px;
        &_container{
            padding-top: 72px;
            padding-bottom: 4px;
            .footer__link{
                max-width: 95px;
                max-height: 30px;
                margin: 0 0 50px auto;
                .footer__btn{
                    padding: 0 7px;
                    font-size: 14px;
                    .footer__arrow{
                        width: 10px;
                    }
                }
            }
            .footer_navbar{
                margin-right: 30px;
                margin-bottom: 60px;
                .footer_navbar__top{
                    margin-bottom: 17px;
                    @include dFlex(space-between, end);
                    .footer_navbar__group{
                        gap: 29px;
                        .footer_navbar__media{
                            width: 17px;
                            height: 17px;
                        }
                    }
                    
                }
                .footer_navbar__bott{
                    gap: 36px;
                    .footer_navbar__block{
                        .footer_navbar__title{
                            font-size: 14px;
                            margin-bottom: 12px;
                        }
                        .footer_navbar__list{
                            line-height: 150%;
                            .footer_navbar__item{
                                font-size: 14px;
                            }
                        }
                    }
    
                }
            }
            .footer_copy{
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 575.98px){
    // Mobile
    .header{
        background-position: right top;
        &::before{
            height: 138px;
            background: rgba(255, 255, 255, 0.2);
            z-index: 1;
        }
        .header_container {
            position: relative;
            padding: 0 0 43px 0;
            max-width: 375px;
            .header__navbar {
                @include dFlex( space-between, center);
                padding: 59px 0;
                margin-bottom: 184px;
            }
            .header__logo{
                left: 35%;
                top: 160px;
            }
            .header__content{
                .header__title{
                    font-size: 36px;
                    margin-bottom: 125px
                }
                .header__group{
                    @include dFlex;
                    flex-direction: column;
                    gap: 26px;
                    margin-bottom: 39px;
                    .header__btn{
                        width: 275px;
                        height: 61px;
                        font-size: 18px;
                    }
                }
                .header__arrow{
                    padding: 10px;
                    height: 55px;
                }
            }
        }
    }

    .main{
       width: 100%; 
    }

    .footer{
        margin-top: 5px;
        background-image: url("/assets/image/back/footer\ background\ mobile.svg"), url("/assets/image/back/footer\ background\ element.svg");
        background-size: 107%, 51px 55px;
        background-position: left bottom, calc(100% - 25%) 0;
        &_container{
            padding-top: 95px;
            padding-bottom: 25px;
            .footer__link{
                display: none;
            }
            .footer_navbar{
                padding-top: 20px;
                margin: 0 0 27px 0;
                .footer_navbar__top{
                    margin-bottom: 17px;
                    @include dFlex(left, center);
                    .footer_navbar__group{
                        display: none
                    }
                }
                .footer_navbar__bott{
                    gap: 0;
                    .footer_navbar__block{
                        display: none;
                        &--mob{
                            display: block;
                        }
                        .footer_navbar__title{
                            font-size: 14px;
                            margin-bottom: 6px;
                            text-align: center;
                        }
                        .footer_navbar__list{
                            text-align: center;
                            line-height: 200%;
                            .footer_navbar__item{
                                font-size: 18px;
                            }
                        }
                    }
    
                }
            }
            .footer_copy{
                color: var(--Gray-4, #BDBDBD);
                text-align: left;
                font-size: 12px;
            }
        }
    }
}