body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-style: normal;
  font-family: "Roboto", sans-serif;
}

.page_container {
  max-width: 1920px;
  flex-shrink: 0;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
  padding: 0px;
}

img {
  flex-shrink: 0;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
}

body {
  font-family: "Roboto";
  background-color: #ffffff;
  line-height: 1.5;
  overflow-x: hidden;
}

button {
  border: 1px solid #000;
  background: #000;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), url("/assets/font/Roboto/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Regular"), url("/assets/font/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), url("/assets/font/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), url("/assets/font/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), url("/assets/font/Roboto/Roboto-Bold.ttf") format("truetype");
}
.header {
  position: relative;
  background: url("/assets/image/back/hero back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 104px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.header .header_container {
  position: relative;
  padding-bottom: 53px;
  width: 100%;
}
.header .header_container .header__navbar {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 36px 40px 36px 30px;
  width: 100%;
}
.header .header_container .header__navbar .header__navbar_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header_container .header__logo {
  position: absolute;
  z-index: 2;
  top: 52px;
  left: 45%;
}
.header .header_container .header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 347px;
}
.header .header_container .header__content .header__title {
  color: var(--Gray-6, #F2F2F2);
  text-align: center;
  font-size: 80px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 193px;
}
.header .header_container .header__content .header__group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 151px;
}
.header .header_container .header__content .header__group .header__btn {
  width: 348px;
  height: 77px;
  border: 1px solid #C4C4C4;
  background: rgba(17, 17, 17, 0.6);
  color: #FFF;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  transition: all 0.5s ease;
}
.header .header_container .header__content .header__group .header__btn:hover {
  opacity: 0.8;
}
.header .header_container .header__content .header__arrow {
  margin: auto;
  padding: 15px;
  border: 1px;
  transition: all 0.5s;
}
.header .header_container .header__content .header__arrow:hover {
  border-color: #C4C4C4;
  background: rgba(17, 17, 17, 0.6);
}

.footer {
  margin-top: 22px;
  background-image: url("/assets/image/back/footer background.svg"), url("/assets/image/back/footer background element.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, center top;
  background-size: 76%, 10%;
  width: 100%;
}
.footer_container {
  padding-top: 156px;
  padding-bottom: 31px;
}
.footer_container .footer__link {
  display: block;
  max-width: 185px;
  margin: 0 0 235px auto;
  border: 1px solid #000;
  transform: rotate(-90deg);
  display: flex;
  justify-content: left;
  align-items: center;
}
.footer_container .footer__link .footer__btn {
  width: 100%;
  background: rgba(196, 196, 196, 0);
  padding: 13px 24px;
  color: #000;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  border: none;
}
.footer_container .footer__link .footer__btn .footer__arrow {
  margin-left: 15px;
  width: 16px;
  transform: rotate(90deg);
}
.footer_container .footer_navbar {
  margin: 0 60px 230px 20px;
}
.footer_container .footer_navbar .footer_navbar__top {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_container .footer_navbar .footer_navbar__top .footer_navbar__logo {
  width: 184px;
  height: 76px;
}
.footer_container .footer_navbar .footer_navbar__top .footer_navbar__group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 68px;
}
.footer_container .footer_navbar .footer_navbar__bott {
  display: flex;
  justify-content: left;
  align-items: start;
  gap: 160px;
}
.footer_container .footer_navbar .footer_navbar__bott .footer_navbar__block .footer_navbar__title {
  color: #FAFF09;
  font-size: 24px;
  font-weight: 700;
  line-height: 146.187%;
  margin-bottom: 41px;
}
.footer_container .footer_navbar .footer_navbar__bott .footer_navbar__block .footer_navbar__list {
  line-height: 250%;
}
.footer_container .footer_navbar .footer_navbar__bott .footer_navbar__block .footer_navbar__list .footer_navbar__item {
  color: var(--Gray-6, #F2F2F2);
  font-size: 18px;
  font-weight: 400;
}
.footer_container .footer_copy {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 146.187%; /* 20.466px */
}

.main {
  padding: 45px 0 81px 0;
}
.main .achievements {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 37px 45px 41px 54px;
  background-color: #F2F2F2;
  margin-bottom: 92px;
}
.main .achievements .achievements__card {
  box-sizing: border-box;
  max-width: 392px;
}
.main .achievements .achievements__card .achievements__title {
  color: #0E0E0E;
  font-size: 64px;
  font-weight: 400;
  line-height: normal;
  margin-top: 7px;
}
.main .achievements .achievements__card .achievements__subtitle {
  width: 100%;
  color: #0E0E0E;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}
.main .achievements .achievements__card .achievements__text {
  color: #0E0E0E;
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  margin-left: 35px;
}
.main .under_section {
  margin-bottom: 18px;
}
.main .under_section .section_undertitle {
  color: #000;
  font-size: 48px;
  font-weight: 300;
  line-height: normal;
  max-width: 673px;
}
.main .pricing {
  margin-top: 56px;
  padding-left: 7em;
  padding-right: 8em;
}
.main .pricing .pricing_left {
  padding: 0;
  padding-right: 28px;
  padding-left: 14px;
}
.main .pricing .pricing_left__title {
  color: #000;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 48px;
}
.main .pricing .pricing_left__subtitle {
  color: var(--Gray-1, #333);
  font-size: 36px;
  font-weight: 300;
  line-height: 147.187%;
}
.main .pricing .pricing_left__btn {
  margin-top: 47px;
  padding: 30px 100px;
  border: solid 1px #000;
  background: #000;
  color: #FFF;
  font-size: 36px;
  font-weight: 300;
  line-height: normal;
  transition: all 0.5s ease;
}
.main .pricing .pricing_left__btn:hover {
  background: #FFF;
  color: #000;
}
.main .pricing .pricing_right {
  padding: 0;
  padding-bottom: 34px;
  border-left: solid 1px #E0E0E0;
}
.main .pricing .pricing_right__block {
  position: relative;
  width: 607px;
  height: 333px;
}
.main .pricing .pricing_right__block .pricing_right__img--element {
  position: absolute;
  top: -5px;
  left: 62%;
}
.main .pricing .pricing_right__title {
  color: #000;
  font-size: 36px;
  font-weight: 400;
  line-height: 147.187%;
  margin-bottom: 19px;
  margin-left: 77px;
}
.main .pricing .pricing_right__item {
  color: var(--Gray-1, #333);
  font-size: 36px;
  font-weight: 300;
  line-height: 147.187%;
  padding-left: 79px;
}
.main .pricing .pricing_right__item--border {
  border-bottom: solid 1px #E0E0E0;
  margin-bottom: 27px;
}
.main .pricing .pricing_right--element {
  position: relative;
}
.main .pricing .pricing_right__line {
  position: absolute;
  left: -77px;
  top: 178px;
  display: block;
  height: 1px;
  width: 76px;
  background-color: #E0E0E0;
}
.main .services {
  margin-top: 52px;
}
.main .services .service_card {
  max-width: 437px;
  padding: 0;
}
.main .services .service_card--border {
  border-right: solid 1px #E0E0E0;
}
.main .services .service_card--border1 {
  border-left: solid 1px #E0E0E0;
}
.main .services .service_card__img {
  width: 100%;
  height: 487px;
  margin-bottom: 42px;
}
.main .services .service_card__title {
  color: #0E0E0E;
  font-size: 48px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 23px;
  margin-left: 10px;
}
.main .services .service_card__subtitle {
  color: var(--Gray-2, #4F4F4F);
  font-size: 18px;
  font-weight: 400;
  line-height: 147.187%;
  margin-right: 130px;
  margin-bottom: 68px;
  margin-left: 12px;
}
.main .section_backgroung {
  position: relative;
  background: linear-gradient(to left, #F5F5F5 60%, transparent 60%);
  margin-bottom: 75px;
}
.main .section_backgroung .projects {
  margin-top: 10px;
  padding-bottom: 53px;
  border-bottom: solid 1px #BDBDBD;
}
.main .section_backgroung .projects .projects_card_container {
  margin: auto;
  max-width: 1725px;
}
.main .section_backgroung .projects .projects_card_container .projects_card {
  padding: 0;
  max-width: 575px;
}
.main .section_backgroung .projects .projects_card_container .projects_card .projects_card__block {
  position: relative;
  width: 575px;
  height: 657px;
  transition: all 2s ease-out;
}
.main .section_backgroung .projects .projects_card_container .projects_card .projects_card__block:hover .projects_card__block--hov {
  display: block;
}
.main .section_backgroung .projects .projects_card_container .projects_card .projects_card__block .projects_card__img {
  width: 100%;
  height: 100%;
}
.main .section_backgroung .projects .projects_card_container .projects_card .projects_card__block--hov {
  display: none;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.25);
}
.main .section_backgroung .projects .projects_card_container .projects_card .projects_card__block--hov .projects_card__button {
  margin-left: 20%;
  margin-top: 50%;
  padding: 24px 64px;
  border: solid 1px #FFF;
  background: rgba(196, 196, 196, 0);
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}
.main .section_backgroung .projects .projects_card_container .projects_card .projects_card__text {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 13px;
  margin-top: 16px;
  margin-bottom: 50px;
}
.main .section_backgroung .projects .projects_card_container .projects_card .projects_card__text .projects_card__title {
  color: #000;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
}
.main .section_backgroung .projects .projects_card_container .projects_card .projects_card__text .projects_card__subtitle {
  color: var(--Gray-3, #828282);
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}
.main .section_backgroung .projects .projects_card_container .projects_card .projects_card__text .projects_card__area {
  color: var(--Gray-1, #333);
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
}
.main .section_backgroung .projects .projects_card_container .projects_card--border {
  border-right: solid 1px #E0E0E0;
}
.main .section_backgroung .projects .projects_card_container .card_line {
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #BDBDBD;
  top: 52%;
}
.main .section_backgroung .projects .project_link {
  margin-left: 43.5%;
}
.main .section_backgroung .projects .project_link .project_btn {
  padding: 19px 45px;
  border: solid 1px #000;
  background-color: #000;
  color: var(--Gray-6, #F2F2F2);
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  transition: all 0.6s ease;
}
.main .section_backgroung .projects .project_link .project_btn:hover .project_btn__img {
  transform: rotate(180deg);
}
.main .section_backgroung .projects .project_link .project_btn__img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 8px;
}
.main .instructions .instructions_card_container {
  margin: auto;
}
.main .instructions .instructions_card_container .instructions_card {
  display: flex;
  justify-content: left;
  align-items: start;
  gap: 20px;
  max-width: 471px;
}
.main .instructions .instructions_card_container .instructions_card .instructions_card__num {
  margin-top: 80px;
  color: #000;
  font-size: 64px;
  font-weight: 500;
  line-height: 146.687%;
}
.main .instructions .instructions_card_container .instructions_card .instructions_card__content .instructions_card__image {
  max-width: 61px;
  max-height: 58px;
  margin-bottom: 29px;
}
.main .instructions .instructions_card_container .instructions_card .instructions_card__content .instructions_card__title {
  padding: 7px 12px;
  background-color: #FAFF09;
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 19px;
}
.main .instructions .instructions_card_container .instructions_card .instructions_card__content .instructions_card__subtitle {
  color: var(--Gray-2, #4F4F4F);
  font-size: 28px;
  font-weight: 400;
  line-height: 147.687%;
  margin-bottom: 24px;
}
.main .instructions .instructions_card_container .instructions_card .instructions_card__content .instructions_card__execpt {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 147.687%;
  text-decoration-line: underline;
  padding-bottom: 20px;
  padding-right: 16px;
}
.main .instructions .instructions_card_container .instructions_card .instructions_card__content .instructions_card__execpt--border {
  border-right: 3px dashed #000;
}
.main .instructions .instructions_card_container .instructions_card .instructions_card__content .instructions_card__execpt--img {
  padding: 7px 5px;
  background-color: #FAFF09;
  border-radius: 50%;
  margin-right: 6px;
  margin-bottom: 3px;
}
.main .instructions .instructions_card_container .instructions_card--border {
  border-bottom: 3px dashed #000;
  padding-bottom: 20px;
}
.main .instructions .instructions_card_container .instructions_link {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 85px;
  margin-bottom: 28px;
}
.main .instructions .instructions_card_container .instructions_link .instructions_btn {
  padding: 35px 108px;
  border: solid 1px #000;
  background: rgba(196, 196, 196, 0);
  color: #000;
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  line-height: normal;
  transition: all 0.5s ease;
}
.main .instructions .instructions_card_container .instructions_link .instructions_btn .instructions_btn__img {
  width: 115px;
  margin-left: 30px;
}
.main .instructions .instructions_card_container .instructions_link .instructions_btn:hover {
  opacity: 0.8;
}
.main .back_section {
  background-image: url("/assets/image/back/armchair.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 196px 0 224px 0;
}
.main .back_section .back_section__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .back_section .back_section__content .back_section__title {
  margin-right: 550px;
  color: #FFF;
  font-size: 48px;
  font-weight: 300;
  line-height: 146.687%;
  margin-bottom: 106px;
}
.main .back_section .back_section__content .back_section_list {
  line-height: 146.687%;
}
.main .back_section .back_section__content .back_section_list .back_section_item {
  color: #FFF;
  font-size: 36px;
  font-weight: 300;
  line-height: 146.687%;
}
.main .instagram {
  padding: 92px 0 50px 0;
}
.main .instagram .instagram_logo {
  width: 255px;
  height: 72px;
  margin-bottom: 30px;
}
.main .instagram .instagram_card__container {
  margin: auto;
  gap: 20px;
}
.main .instagram .instagram_card__container .instagram_card {
  padding: 0;
  max-width: 417px;
  max-height: 417px;
  min-height: 416.9px;
}
.main .instagram .instagram_card__container .instagram_card .instagram_card__image {
  width: 100%;
  height: 100%;
}
.main .catalog {
  margin: auto;
  margin-top: 14px;
}
.main .catalog .catalog_content .catalog_left {
  padding: 0;
}
.main .catalog .catalog_content .catalog_left .catalog_image {
  width: 100%;
  height: 640px;
}
.main .catalog .catalog_content .catalog_right {
  padding: 0;
  padding-left: 107px;
}
.main .catalog .catalog_content .catalog_right .catalog_form {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.main .catalog .catalog_content .catalog_right .catalog_form .catalog_form__title {
  color: #000;
  font-size: 36px;
  font-weight: 500;
  line-height: 146.687%;
  margin-bottom: 41px;
  width: 75%;
}
.main .catalog .catalog_content .catalog_right .catalog_form .catalog_form__subtitle {
  color: #4F4F4F;
  font-size: 24px;
  font-weight: 300;
  line-height: 146.687%;
  margin-bottom: 86px;
  width: 70%;
}
.main .catalog .catalog_content .catalog_right .catalog_form .catalog_form__input {
  max-width: 90%;
  width: 100%;
  padding: 25px;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  border: solid 1px #000;
  background: rgba(196, 196, 196, 0);
  margin-bottom: 16px;
}
.main .catalog .catalog_content .catalog_right .catalog_form .catalog_form__input::-moz-placeholder {
  color: #4F4F4F;
  font-weight: 100px;
  font-size: 24px;
}
.main .catalog .catalog_content .catalog_right .catalog_form .catalog_form__input::placeholder {
  color: #4F4F4F;
  font-weight: 100px;
  font-size: 24px;
}
.main .catalog .catalog_content .catalog_right .catalog_form .catalog_form__label {
  width: 90%;
  color: var(--Gray-1, #333);
  font-size: 14px;
  font-weight: 300;
  line-height: 146.187%;
  cursor: pointer;
  margin-bottom: 72px;
}
.main .catalog .catalog_content .catalog_right .catalog_form .catalog_form__label #checker {
  width: 17px;
  height: 17px;
  margin-right: 10px;
  vertical-align: middle;
}
.main .catalog .catalog_content .catalog_right .catalog_form .catalog_form__btn {
  padding: 25px 85px;
  border: solid 1px #000;
  background: #000;
  color: var(--Gray-6, #F2F2F2);
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  line-height: normal;
  transition: all 0.5s ease;
}
.main .catalog .catalog_content .catalog_right .catalog_form .catalog_form__btn:hover {
  background: #FFF;
  color: #000;
}
.main .main_line {
  display: block;
  width: 9%;
  height: 10px;
  background-color: #000;
}
.main .border_line {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #BDBDBD;
}
.main .border_line--pricing {
  margin-bottom: 85px;
}
.main .border_line--services {
  margin-bottom: 49px;
}
.main .border_line--back {
  margin-bottom: 47px;
}
.main .border_line--form {
  margin-bottom: 80px;
}
.main .square {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: black;
  vertical-align: text-top;
}
.main .square--white {
  background-color: #FFF;
}
.main .square--black {
  margin: 7px;
}
.main .square--project {
  margin-top: 19px;
  margin-right: 12px;
}
.main .square--grey {
  background-color: #4F4F4F;
  margin-bottom: 7px;
}

@media (max-width: 991.98px) {
  .header {
    width: 100%;
  }
  .header .header_container {
    padding-bottom: 56px;
  }
  .header .header_container .header__navbar {
    padding: 36px 37px 36px 50px;
  }
  .header .header_container .header__logo {
    width: 184px;
    height: 76px;
  }
  .header .header_container .header__content {
    padding-top: 458px;
  }
  .header .header_container .header__content .header__title {
    font-size: 48px;
    margin-bottom: 199px;
  }
  .header .header_container .header__content .header__group {
    gap: 27px;
    margin-bottom: 199px;
  }
  .header .header_container .header__content .header__group .header__btn {
    width: 246px;
    height: 61px;
    font-size: 18px;
  }
  .header .header_container .header__content .header__arrow {
    padding: 12px;
  }
  .main {
    padding: 26px 0 77px 0;
  }
  .main .achievements {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    -moz-column-gap: 65px;
         column-gap: 65px;
    row-gap: 75px;
    padding: 12px 66px 12px 26px;
    margin-bottom: 66px;
  }
  .main .achievements .achievements__card {
    width: 315px;
  }
  .main .achievements .achievements__card .achievements__title {
    font-size: 48px;
    margin-top: 13px;
  }
  .main .achievements .achievements__card .achievements__subtitle {
    font-size: 24px;
    margin-bottom: 13px;
  }
  .main .achievements .achievements__card .achievements__text {
    font-size: 14px;
    margin-left: 27px;
  }
  .main .under_section {
    margin-bottom: 18px;
  }
  .main .under_section .section_undertitle {
    font-size: 24px;
    max-width: 328px;
    text-transform: uppercase;
  }
  .main .pricing {
    margin-top: 20px;
    padding-left: 2em;
    padding-right: 3em;
  }
  .main .pricing .pricing_left {
    padding-right: 70px;
  }
  .main .pricing .pricing_left__title {
    font-size: 18px;
    margin-bottom: 21px;
  }
  .main .pricing .pricing_left__subtitle {
    font-size: 18px;
  }
  .main .pricing .pricing_left__btn {
    margin-top: 36px;
    padding: 14px 40px;
    font-size: 18px;
  }
  .main .pricing .pricing_right {
    padding: 0;
    padding-bottom: 15px;
    border-left: solid 1px #E0E0E0;
    max-width: 274px;
  }
  .main .pricing .pricing_right__block {
    position: relative;
    width: 100%;
    height: 150px;
  }
  .main .pricing .pricing_right__block .pricing_right__img--element {
    width: 38px;
    height: 30px;
    top: 0;
    left: 62%;
  }
  .main .pricing .pricing_right__title {
    font-size: 18px;
    margin-bottom: 6px;
    margin-left: 34px;
  }
  .main .pricing .pricing_right__item {
    font-size: 14px;
    padding-left: 35px;
  }
  .main .pricing .pricing_right__item--border {
    border-bottom: solid 1px #E0E0E0;
    margin-bottom: 12px;
  }
  .main .pricing .pricing_right--element {
    position: relative;
  }
  .main .pricing .pricing_right__line {
    left: -36px;
    top: 53px;
    width: 35px;
  }
  .main .services {
    margin-top: 40px;
  }
  .main .services .service_card {
    max-width: 396px;
  }
  .main .services .service_card__img {
    width: 100%;
    height: 443px;
    margin-bottom: 23px;
  }
  .main .services .service_card__title {
    font-size: 24px;
    margin-bottom: 7px;
    margin-left: 13px;
  }
  .main .services .service_card__subtitle {
    font-size: 14px;
    margin-right: 130px;
    margin-bottom: 36px;
    margin-left: 13px;
  }
  .main .section_backgroung {
    margin-bottom: 75px;
  }
  .main .section_backgroung .projects {
    margin-top: 18px;
    padding-bottom: 63px;
  }
  .main .section_backgroung .projects .projects_card_container {
    max-width: 764px;
    margin-bottom: 40px;
  }
  .main .section_backgroung .projects .projects_card_container .projects_card {
    max-width: 387px;
    position: relative;
  }
  .main .section_backgroung .projects .projects_card_container .projects_card .projects_card__block {
    width: 387px;
    height: 455px;
  }
  .main .section_backgroung .projects .projects_card_container .projects_card .projects_card__block--hov {
    z-index: 10;
  }
  .main .section_backgroung .projects .projects_card_container .projects_card .projects_card__block--hov .projects_card__button {
    margin-left: 20%;
    margin-top: 50%;
    padding: 20px 40px;
    font-size: 18px;
  }
  .main .section_backgroung .projects .projects_card_container .projects_card .projects_card__text {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 6px;
    margin-left: 20%;
  }
  .main .section_backgroung .projects .projects_card_container .projects_card .projects_card__text .projects_card__title {
    color: #ffffff;
    font-size: 18px;
  }
  .main .section_backgroung .projects .projects_card_container .projects_card .projects_card__text .projects_card__subtitle {
    color: var(--Gray-3, #ffffff);
    font-size: 18px;
  }
  .main .section_backgroung .projects .projects_card_container .projects_card .projects_card__text .projects_card__area {
    color: var(--Gray-1, #ffffff);
    font-size: 14px;
  }
  .main .section_backgroung .projects .projects_card_container .card_line {
    top: 60%;
  }
  .main .section_backgroung .projects .project_link {
    margin-left: 35%;
  }
  .main .instructions .instructions_card_container .instructions_card {
    display: flex;
    justify-content: left;
    align-items: start;
    gap: 9px;
  }
  .main .instructions .instructions_card_container .instructions_card .instructions_card__num {
    font-size: 48px;
  }
  .main .instructions .instructions_card_container .instructions_card .instructions_card__content .instructions_card__image {
    margin-bottom: 32px;
  }
  .main .instructions .instructions_card_container .instructions_card .instructions_card__content .instructions_card__title {
    padding: 4px 7px;
    font-size: 24px;
    margin-bottom: 18px;
  }
  .main .instructions .instructions_card_container .instructions_card .instructions_card__content .instructions_card__subtitle {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .main .instructions .instructions_card_container .instructions_card .instructions_card__content .instructions_card__execpt {
    font-size: 14px;
    padding: 0;
  }
  .main .instructions .instructions_card_container .instructions_card--border {
    border-bottom: none;
  }
  .main .instructions .instructions_card_container .instructions_link {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    margin-bottom: 28px;
  }
  .main .instructions .instructions_card_container .instructions_link .instructions_btn {
    padding: 23px 74px;
    font-size: 24px;
  }
  .main .instructions .instructions_card_container .instructions_link .instructions_btn .instructions_btn__img {
    width: 74px;
  }
  .main .back_section {
    background-image: url("/assets/image/back/armchair.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 79px 0 145px 0;
  }
  .main .back_section .back_section__content .back_section__title {
    margin-right: 150px;
    font-size: 36px;
    margin-bottom: 73px;
  }
  .main .back_section .back_section__content .back_section_list .back_section_item {
    font-size: 24px;
  }
  .main .instagram {
    padding: 46px 0 38px 0;
  }
  .main .instagram .instagram_logo {
    width: 185px;
    height: 52px;
    margin-bottom: 80px;
  }
  .main .instagram .instagram_card__container {
    margin: auto;
    gap: 20px;
  }
  .main .instagram .instagram_card__container .instagram_card {
    padding: 0;
    max-width: 386px;
    max-height: 386px;
    min-height: 385.9px;
  }
  .main .catalog {
    margin-top: 14px;
  }
  .main .catalog .catalog_content .catalog_left .catalog_image {
    width: 100%;
    height: 363px;
  }
  .main .catalog .catalog_content .catalog_right {
    padding-left: 41px;
    margin-bottom: 51px;
  }
  .main .catalog .catalog_content .catalog_right .catalog_form .catalog_form__title {
    font-size: 24px;
    margin-bottom: 21px;
  }
  .main .catalog .catalog_content .catalog_right .catalog_form .catalog_form__subtitle {
    font-size: 18px;
    margin-bottom: 27px;
  }
  .main .catalog .catalog_content .catalog_right .catalog_form .catalog_form__input {
    width: 99%;
    padding: 24px;
    font-size: 14px;
    margin-bottom: 18px;
  }
  .main .catalog .catalog_content .catalog_right .catalog_form .catalog_form__input::-moz-placeholder {
    color: #4F4F4F;
    font-weight: 100;
    font-size: 14px;
  }
  .main .catalog .catalog_content .catalog_right .catalog_form .catalog_form__input::placeholder {
    color: #4F4F4F;
    font-weight: 100;
    font-size: 14px;
  }
  .main .catalog .catalog_content .catalog_right .catalog_form .catalog_form__label {
    color: var(--Gray-1, #333);
    font-size: 14px;
    font-weight: 300;
    line-height: 146.187%;
    cursor: pointer;
    margin-bottom: 72px;
  }
  .main .catalog .catalog_content .catalog_right .catalog_form .catalog_form__label #checker {
    width: 17px;
    height: 17px;
    margin-right: 10px;
    vertical-align: middle;
  }
  .main .catalog .catalog_content .catalog_right .catalog_form .catalog_form__btn {
    padding: 22px 112px;
    font-size: 18px;
  }
  .main .main_line {
    width: 9%;
    height: 5px;
    background-color: #000;
  }
  .main .border_line {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #BDBDBD;
  }
  .main .border_line--pricing {
    margin-bottom: 85px;
  }
  .main .border_line--services {
    margin-bottom: 49px;
  }
  .main .border_line--back {
    margin-bottom: 47px;
  }
  .main .border_line--form {
    margin-bottom: 80px;
  }
  .main .square {
    width: 9px;
    height: 9px;
  }
  .main .square--black {
    margin: 10px;
  }
  .main .square--project {
    margin-top: 7px;
    margin-right: 5px;
  }
  .main .square--grey {
    background-color: #4F4F4F;
    margin-bottom: 7px;
  }
  .footer {
    margin-top: 10px;
    background-image: url("/assets/image/back/footer background tablet.svg"), url("/assets/image/back/footer background element.svg");
    background-position: left bottom, 50% 0;
    background-size: 75%, 86px 92px;
  }
  .footer_container {
    padding-top: 72px;
    padding-bottom: 4px;
  }
  .footer_container .footer__link {
    max-width: 95px;
    max-height: 30px;
    margin: 0 0 50px auto;
  }
  .footer_container .footer__link .footer__btn {
    padding: 0 7px;
    font-size: 14px;
  }
  .footer_container .footer__link .footer__btn .footer__arrow {
    width: 10px;
  }
  .footer_container .footer_navbar {
    margin-right: 30px;
    margin-bottom: 60px;
  }
  .footer_container .footer_navbar .footer_navbar__top {
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .footer_container .footer_navbar .footer_navbar__top .footer_navbar__group {
    gap: 29px;
  }
  .footer_container .footer_navbar .footer_navbar__top .footer_navbar__group .footer_navbar__media {
    width: 17px;
    height: 17px;
  }
  .footer_container .footer_navbar .footer_navbar__bott {
    gap: 36px;
  }
  .footer_container .footer_navbar .footer_navbar__bott .footer_navbar__block .footer_navbar__title {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .footer_container .footer_navbar .footer_navbar__bott .footer_navbar__block .footer_navbar__list {
    line-height: 150%;
  }
  .footer_container .footer_navbar .footer_navbar__bott .footer_navbar__block .footer_navbar__list .footer_navbar__item {
    font-size: 14px;
  }
  .footer_container .footer_copy {
    font-size: 12px;
  }
}
@media (max-width: 575.98px) {
  .header {
    background-position: right top;
  }
  .header::before {
    height: 138px;
    background: rgba(255, 255, 255, 0.2);
    z-index: 1;
  }
  .header .header_container {
    position: relative;
    padding: 0 0 43px 0;
    max-width: 375px;
  }
  .header .header_container .header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 59px 0;
    margin-bottom: 184px;
  }
  .header .header_container .header__logo {
    left: 35%;
    top: 160px;
  }
  .header .header_container .header__content .header__title {
    font-size: 36px;
    margin-bottom: 125px;
  }
  .header .header_container .header__content .header__group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
    margin-bottom: 39px;
  }
  .header .header_container .header__content .header__group .header__btn {
    width: 275px;
    height: 61px;
    font-size: 18px;
  }
  .header .header_container .header__content .header__arrow {
    padding: 10px;
    height: 55px;
  }
  .main {
    width: 100%;
  }
  .footer {
    margin-top: 5px;
    background-image: url("/assets/image/back/footer background mobile.svg"), url("/assets/image/back/footer background element.svg");
    background-size: 107%, 51px 55px;
    background-position: left bottom, 75% 0;
  }
  .footer_container {
    padding-top: 95px;
    padding-bottom: 25px;
  }
  .footer_container .footer__link {
    display: none;
  }
  .footer_container .footer_navbar {
    padding-top: 20px;
    margin: 0 0 27px 0;
  }
  .footer_container .footer_navbar .footer_navbar__top {
    margin-bottom: 17px;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .footer_container .footer_navbar .footer_navbar__top .footer_navbar__group {
    display: none;
  }
  .footer_container .footer_navbar .footer_navbar__bott {
    gap: 0;
  }
  .footer_container .footer_navbar .footer_navbar__bott .footer_navbar__block {
    display: none;
  }
  .footer_container .footer_navbar .footer_navbar__bott .footer_navbar__block--mob {
    display: block;
  }
  .footer_container .footer_navbar .footer_navbar__bott .footer_navbar__block .footer_navbar__title {
    font-size: 14px;
    margin-bottom: 6px;
    text-align: center;
  }
  .footer_container .footer_navbar .footer_navbar__bott .footer_navbar__block .footer_navbar__list {
    text-align: center;
    line-height: 200%;
  }
  .footer_container .footer_navbar .footer_navbar__bott .footer_navbar__block .footer_navbar__list .footer_navbar__item {
    font-size: 18px;
  }
  .footer_container .footer_copy {
    color: var(--Gray-4, #BDBDBD);
    text-align: left;
    font-size: 12px;
  }
}/*# sourceMappingURL=main.css.map */