.header{
    position: relative;
    background: url("/assets/image/back/hero\ back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 104px;
        background: rgba(0, 0, 0, 0.40);
        z-index: 1;
    }
    .header_container {
        position: relative;
        padding-bottom: 53px;
        width: 100%;
        .header__navbar {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            padding: 36px 40px 36px 30px;
            width: 100%;
            .header__navbar_flex{
                @include dFlex(space-between, center);
            }
        }
        .header__logo{
            position: absolute;
            z-index: 2;
            top: 52px;
            left: 45%;
        }
        .header__content{
            @include dFlex;
            flex-direction: column;
            padding-top: 347px;
            .header__title{
                color: var(--Gray-6, #F2F2F2);
                text-align: center;
                font-size: 80px;
                font-weight: 300;
                line-height: normal;
                margin-bottom: 193px
            }
            .header__group{
                @include dFlex;
                gap: 50px;
                margin-bottom: 151px;
                .header__btn{
                    width: 348px;
                    height: 77px;
                    border: 1px solid #C4C4C4;
                    background: rgba(17, 17, 17, 0.60);
                    color: #FFF;
                    vertical-align: middle;
                    text-align: center;
                    font-size: 24px;
                    font-weight: 300;
                    line-height: normal;
                    transition: all 0.5s ease;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
            .header__arrow{
                margin: auto;
                padding: 15px;
                border: 1px;
                transition: all 0.5s;
                &:hover{
                    border-color: #C4C4C4;
                    background: rgba(17, 17, 17, 0.60);
                }   
            }
        }
    }
}