.main{
    padding: 45px 0 81px 0;
    .achievements{
        @include dFlex(space-between, start);
        padding: 37px 45px 41px 54px;
        background-color: #F2F2F2;
        margin-bottom: 92px;
        .achievements__card{
            box-sizing: border-box;
            max-width: 392px;
            .achievements__title{
                color: #0E0E0E;
                font-size: 64px;
                font-weight: 400;
                line-height: normal;
                margin-top: 7px;
            }
            .achievements__subtitle{
                width: 100%;
                color: #0E0E0E;
                font-size: 28px;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 16px;
            }
            .achievements__text{
                color: #0E0E0E;
                font-size: 18px;
                font-weight: 300;
                line-height: normal;
                margin-left: 35px;
            }
        }
    }
    .under_section{
        margin-bottom: 18px;
        .section_undertitle{
            color: #000;
            font-size: 48px;
            font-weight: 300;
            line-height: normal;
            max-width: 673px;
        }
    }
    .pricing{
        margin-top: 56px;
        padding-left: 7em;
        padding-right: 8em;
        .pricing_left{
            padding: 0;
            padding-right: 28px;
            padding-left: 14px;
            &__title{
                color: #000;
                font-size: 48px;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 48px;
            }
            &__subtitle{
                color: var(--Gray-1, #333);
                font-size: 36px;
                font-weight: 300;
                line-height: 147.187%;
            }
            &__btn{
                margin-top: 47px;
                padding: 30px 100px;
                border: solid 1px #000;
                background: #000;
                color: #FFF;
                font-size: 36px;
                font-weight: 300;
                line-height: normal;
                transition: all 0.5s ease;
                &:hover{
                    background: #FFF;
                    color: #000;
                }
            }
        }
        .pricing_right{
            padding: 0;
            padding-bottom: 34px;
            border-left: solid 1px #E0E0E0;
            &__block{
                position: relative;
                width: 607px;
                height: 333px;
                .pricing_right__img--element{
                    position: absolute;
                    top: -5px;
                    left: 62%;
                }
            }
            &__title{
                color: #000;
                font-size: 36px;
                font-weight: 400;
                line-height: 147.187%;
                margin-bottom: 19px;
                margin-left: 77px;
            }
            &__item{
                color: var(--Gray-1, #333);
                font-size: 36px;
                font-weight: 300;
                line-height: 147.187%;
                padding-left: 79px;
            }
            &__item--border{
                border-bottom: solid 1px #E0E0E0;
                margin-bottom: 27px;
            }
            &--element{
                position: relative;
            }
            &__line{
                position: absolute;
                left: -77px;
                top: 178px;
                display: block;
                height: 1px;
                width: 76px;
                background-color: #E0E0E0;
            }
        }
    }
    .services{
        margin-top: 52px;
        .service_card{
            max-width: 437px;
            padding: 0;
            &--border{
                border-right: solid 1px #E0E0E0;;
            }
            &--border1{
                border-left: solid 1px #E0E0E0;
            }
            &__img{
                width: 100%;
                height: 487px;
                margin-bottom: 42px;
            }
            &__title{
                color: #0E0E0E;
                font-size: 48px;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 23px;
                margin-left: 10px;
            }
            &__subtitle{
                color: var(--Gray-2, #4F4F4F);
                font-size: 18px;
                font-weight: 400;
                line-height: 147.187%;
                margin-right: 130px;
                margin-bottom: 68px;
                margin-left: 12px;
            }
        }
    }
    .section_backgroung{
        position: relative;
        background: linear-gradient(to left,  #F5F5F5 60%, transparent 60%);
        margin-bottom: 75px;

        .projects{
            margin-top: 10px;
            padding-bottom: 53px;
            border-bottom: solid 1px #BDBDBD;
            .projects_card_container{
                margin: auto;
                max-width: 1725px;
                .projects_card{
                    padding: 0;
                    max-width: 575px;
                    .projects_card__block{
                        position: relative;
                        width: 575px;
                        height: 657px;
                        transition: all 2s ease-out;
                        &:hover{
                            .projects_card__block--hov {
                                display: block;
                              }
                        }
                        .projects_card__img{
                            width: 100%;
                            height: 100%;
                        }
                        &--hov{
                            display: none;
                            z-index: 10;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: rgba(0, 0, 0, 0.80);
                            box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.25);
                            .projects_card__button{
                                margin-left: 20%; 
                                margin-top: 50%;
                                padding: 24px 64px;
                                border:  solid 1px #FFF;
                                background: rgba(196, 196, 196, 0.00);
                                color: #FFF;
                                text-align: center;
                                font-size: 24px;
                                font-weight: 300;
                                line-height: normal;
                            }
                        }
                    }
                    .projects_card__text{
                        @include dFlex(center, start);
                        flex-direction: column;
                        gap: 13px;
                        margin-top: 16px;
                        margin-bottom: 50px;
                        .projects_card__title{
                            color: #000;
                            font-size: 28px;
                            font-weight: 400;
                            line-height: normal;   
                        }
                        .projects_card__subtitle{
                            color: var(--Gray-3, #828282);
                            font-size: 24px;
                            font-weight: 300;
                            line-height: normal;
                        }
                        .projects_card__area{
                            color: var(--Gray-1, #333);
                            font-size: 18px;
                            font-weight: 300;
                            line-height: normal;
                        }
                    }
                    &--border{
                        border-right: solid 1px #E0E0E0;
                    }
                }
                .card_line{
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #BDBDBD;
                    top: 52%;
                }
            }
            .project_link{
                margin-left: 43.5%;
                .project_btn{
                    padding: 19px 45px;
                    border:  solid 1px #000;
                    background-color: #000;
                    color: var(--Gray-6, #F2F2F2);
                    font-size: 24px;
                    font-weight: 300;
                    line-height: normal;
                    transition: all 0.6s ease;
                    &:hover {
                        .project_btn__img {
                          transform: rotate(180deg);
                        }
                      }
                    &__img{
                        width: 25px;
                        height: 25px;
                        vertical-align: middle;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
    .instructions{
        .instructions_card_container{
            margin: auto;
            .instructions_card{
                @include dFlex(left, start);
                gap: 20px;
                .instructions_card__num{
                    margin-top: 80px;
                    color: #000;
                    font-size: 64px;
                    font-weight: 500;
                    line-height: 146.687%;
                }
                .instructions_card__content{
                    max-width: 387px;
                    .instructions_card__image{
                        max-width: 61px;
                        max-height: 58px;
                        margin-bottom: 29px;
                    }
                    .instructions_card_block{
                        @include dFlex(space-between, start);
                        flex-direction: column;
                        min-height: 310px;
                        .instructions_card__title{
                            margin: 0;
                        }
                        .instructions_card__subtitle{
                            margin: 0;
                        }
                    }
                    .instructions_card__title{
                        padding: 7px 12px;
                        background-color: #FAFF09;
                        color: #000;
                        font-size: 32px;
                        font-weight: 700;
                        line-height: normal;
                        margin-bottom: 19px;
                        .instructions_card__number{
                            display: none;
                            color: #000;
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 146.687%;
                        }
                    }
                    .instructions_card__subtitle{
                        color: var(--Gray-2, #4F4F4F);
                        font-size: 28px;
                        font-weight: 400;
                        line-height: 147.687%;
                        margin-bottom: 24px;
                    }
                    .instructions_card__execpt{
                        color: #000;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 147.687%;
                        text-decoration-line: underline;
                        padding-bottom: 20px;
                        padding-right: 16px;
                        &--border{
                        border-right: 3px dashed #000;
                        }
                        &--img{
                            padding: 7px 5px;
                            background-color: #FAFF09;
                            border-radius: 50%;
                            margin-right: 6px;
                            margin-bottom: 3px;
                        }
                    }
                }
                &--border{
                    border-bottom: 3px dashed #000;
                    padding-bottom: 20px;
                }
            }
            .instructions_link{
                @include dFlex(left, center);
                margin-left: 85px;
                margin-bottom: 28px;
                .instructions_btn{
                    padding: 35px 108px;
                    border: solid 1px #000;
                    background: rgba(196, 196, 196, 0.00);
                    color: #000;
                    text-align: center;
                    font-size: 36px;
                    font-weight: 300;
                    line-height: normal;
                    transition: all 0.5s ease;
                    .instructions_btn__img{
                        width: 115px;
                        margin-left: 30px;
                    }
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
    }
    .back_section{
        background-image: url("/assets/image/back/armchair.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        padding: 196px 0 224px 0;
        .back_section__content{
            @include dFlex (center, center);
            flex-direction: column;
            .back_section__title{
                margin-right: 550px;
                color: #FFF;
                font-size: 48px;
                font-weight: 300;
                line-height: 146.687%;
                margin-bottom: 106px;
            }
            .back_section_list{
                line-height: 146.687%;
                .back_section_item{
                    color: #FFF;
                    font-size: 36px;
                    font-weight: 300;
                    line-height: 146.687%;
                }
            }
        }
    }
    .instagram{
        padding: 92px 0 50px 0;
        .custom-gap{
            gap: 1.5rem;
        }
        .instagram_logo{
            width: 255px;
            height: 72px;
            margin-bottom: 30px;
        }
        .instagram_card__container{
            
            .instagram_card{
                max-width: 417px;
                max-height: 417px;
                min-height: 416.9px;
                .instagram_card__image{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .catalog{
        margin: auto;
        margin-top: 14px;
        .catalog_content{
            .catalog_left{
                padding: 0;
                .catalog_image{
                    width: 100%;
                    height: 640px;
                }
            }
            .catalog_right{
                padding: 0;
                padding-left: 107px;
                .catalog_form{
                    @include dFlex( center, start);
                    flex-direction: column;
                    .catalog_form__title{
                        color: #000;
                        font-size: 36px;
                        font-weight: 500;
                        line-height: 146.687%;
                        margin-bottom: 41px;
                        width: 75%;
                    }
                    .catalog_form__subtitle{
                        color: #4F4F4F;
                        font-size: 24px;
                        font-weight: 300;
                        line-height: 146.687%;
                        margin-bottom: 86px;
                        width: 70%;
                    }
                    .catalog_form__input{
                        max-width: 90%;
                        width: 100%;
                        padding: 25px;
                        color: #000;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: normal;
                        border: solid 1px #000;
                        background: rgba(196, 196, 196, 0.00);
                        margin-bottom: 16px;
                        &::placeholder{
                            color: #4F4F4F;
                            font-weight: 100px;
                            font-size: 24px;
                        }
                    }
                    .catalog_form__label{
                        width: 90%;
                        color: var(--Gray-1, #333);
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 146.187%;
                        cursor: pointer;
                        margin-bottom: 72px;
                        #checker{
                            width: 17px;
                            height: 17px;
                            margin-right: 10px;
                            vertical-align: middle;
                        }    
                    }
                    .catalog_form__btn{
                        padding: 25px 85px;
                        border: solid 1px #000;
                        background: #000;
                        color: var(--Gray-6, #F2F2F2);
                        text-align: center;
                        font-size: 36px;
                        font-weight: 300;
                        line-height: normal;
                        transition: all 0.5s ease;
                        &:hover{
                            background:#FFF;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
    .main_line{
        display: block;
        width: 9%;
        height: 10px;
        background-color: #000;;
    }
    .border_line{
        display: block;
        height: 1px;
        width: 100%;
        background-color: #BDBDBD;
        &--pricing{
            margin-bottom: 85px;
        }
        &--services{
            margin-bottom: 49px;
        }
        &--back{
            margin-bottom: 47px;
        }
        &--form{
            margin-bottom: 80px;
        }
    }
    .square{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: black;
        vertical-align: text-top;
        &--white{
            background-color: #FFF;
        }
        &--black{
            margin: 7px;
        }
        &--project{
            margin-top: 19px;
            margin-right: 12px;
        }
        &--grey{
            background-color: #4F4F4F;
            margin-bottom: 7px;
        }
        &--mob{
            display: none;
            margin: auto;
        }
        &--mob2{
            display: none;
            margin: auto;
            background-color: #4F4F4F;
            margin-bottom: 16px;
        }
        &--mob3{
            display: none;
        }
    }
}